Repository pedromsmoreira/pms, pull requests merged in 2019-11, with the labels that each got.

#8 feat: add hello world api
  .gitignore
  backend-api/.idea/.gitignore
  backend-api/.idea/.name
  backend-api/.idea/misc.xml
  backend-api/.idea/vcs.xml
  backend-api/build.gradle
  backend-api/gradle/wrapper/gradle-wrapper.jar
  backend-api/gradle/wrapper/gradle-wrapper.properties
  backend-api/gradlew
  backend-api/gradlew.bat
  backend-api/settings.gradle
  backend-api/src/main/java/pms/PetMgtSystemApplication.java
  backend-api/src/main/java/pms/api/HelloWorldController.java
  backend-api/src/main/java/pms/api/Message.java
  backend-api/src/main/java/pms/infrastructure/SwaggerConfig.java
Labels: api

#10 Add pr-labeler, improvments to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pr-labeler.yml
  .github/workflows/label.yml
Labels: feature

#11 add ci label
  .github/pr-labeler.yml
Labels: feature

#14 Remove assignees from issue templates and change ci label
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pr-labeler.yml
Labels: documentation

#17 ci/add gradlew build workflow docker
  .github/workflows/backend-api-workflow.yml
  backend-api/Dockerfile
  backend-api/build.gradle
  backend-api/src/main/java/pms/api/HelloWorldController.java
  backend-api/src/test/java/pms/api/HelloWorldControllerTest.java
Labels: api, devops
